/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* top players style or utilites  */
body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    max-width: 1200px;

    margin: 0px auto;


}

/* header-part */

.header {

    height: 500px;
    left: 140px;
    right: 50px;
    background-color: black;
    border-radius: 30px;

}

h1 {
    font-size: 40px;
    color: #FFFFFF;
}

p {
    font-size: 16px;
    color: #FFFFFF;
}

.header-part {
    width: 100%;
    display: flex;
    justify-content: center;



}

.header-part1 {
    padding-left: 100px;



}

.button1 {
    background-color: #DD0000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;

    padding: 5px;
}

.button1 a {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 20px;
    margin-bottom: 10px;


}

.banner-img {
    height: 500px;
}

/* main side part  */
.side-part {
    margin-top: 40px;
    padding-top: 20px;
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.side-part .change {
    background-color: red;
}

.side-part button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    height: 60px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: 900px;
    text-decoration: none;
    color: black;
    padding-top: 10px;



}


/* flag section  */
.match-selection {
    display: flex;
}

.flag {
    display: flex;
    margin-top: 43px;
    margin-left: 15px;



    border-radius: 5px;



}

.flag1 {


    border: 1px solid lightgray;
    margin: 5px 3px;

    border-radius: 5px;



}

.german-flag,
.franch-flag,
.vs {
    margin: 0px 1px;

}

.text1 {
    margin-top: 20px;
    margin-left: 27px;

}

.text2 {
    margin-top: 5px;
    margin-left: 45px;


}

.down {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    margin-left: 15px;

}



/* footer  */
.footer {
    margin-top: 100px;
    height: 444px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

#goal {
    padding-top: 50px;
    text-align: center;
}

hr {
    position: center;
    border: 1px solid white;
    width: 90%;

}

.bottom-text {
    display: flex;
    margin-left: 100px;

}

.small-text a {
    text-decoration: none;

    margin-left: 30px;

    color: whitesmoke;
}

.icon-margin {
    margin-right: 20px;
}

.social-media-icon {
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 35%;
}

.social-media-icon a {
    font-size: 40px;

    padding-left: 30px;

}



/* media queries  */


/* mobile devices  */

@media only screen and (max-width:688px) {
    .match {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 400px;





    }

    .match-selection,
    .flag1 {
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column;
    }

    .side-part {
        margin-top: 30%;


    }

    .header {
        width: 100%;
        background-color: black;


    }

    .header-part {
        background-color: black;
    }

    .header-img {
        width: 100%;
    }



    .down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

    }

    .flag1 {
        justify-content: center;
        width: 100%;
        padding-left: 100px;

    }

    .side-part {
        width: 100%;
        border: 5px solid black;
    }




    .player-element,
    .header-part,
    .players {
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column;
    }

    .footer-part,
    hr,
    .bottom-text {
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column;

    }

    .small-text {
        margin-top: 10px;
    }
}


/* tablet devices  */

@media only screen and (min-width:689px) and (max-width:992px) {
    .header {
        width: 100%;
        background-color: black;
        height: 1000px;

    }

    .down {
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;

        align-items: flex-start;

    }




    .side-part {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-evenly;
        width: 100%;
    }

    .match-selection,
    .flag1 {
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column;
    }

    .footer-part,
    hr,
    .bottom-text {
        grid-template-columns: repeat(1, 1fr);

        flex-direction: column;

    }








}